.home > .header
{
    background-color: white;
    text-align: left;
    padding: 10px;
    font-weight: bold;

}

.home > .map-page {
    position: relative;
    width: 100vw;
    height: calc(100vh - 110px);
    display: flex;
}

.modalHeader
{
    border-radius: 10px 10px 0px 0px;
    margin-left: -18px;
    margin-top: -18px;
    background-color: #1565C0;
    text-align: left;
    padding: 10px;
    width: calc(100% + 6px);
    color: white;
    padding-left: 20px;
    /* font-weight: 100; */
    font-size: 1.5em;
}

.map-container
{
    /* display: flex; */
}

.listContainer
{
    height: 96%;
}